body {
    font-family: Arial, sans-serif;
    background-color: #000; /* Fondo negro */
    color: #fff;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

.container {
    width: 80%;
    max-width: 1200px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    background-color: #f44336; /* Color naranja/rojo similar al de la imagen */
    color: white;
    padding: 10px 20px;
    text-align: center;
    margin-bottom: 20px;
    width: 100%;
}

.video-container {
    position: relative;
    margin-bottom: 20px;
    width: 100%;
}

video {
    width: 100%;
    height: auto;
}

.categories {
    margin-top: 20px;
    width: 100%;
}

.category-list {
    display: flex;
    overflow-x: auto;
    padding: 10px 0;
}

.category-item {
    flex: 0 0 auto;
    width: 150px;
    margin-right: 10px;
    text-align: center;
}

.category-item img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 5px;
  }
  
